@media only screen and (max-width: 1200px){
    .admin-bars{
        display: flex;
    }
    .content-right{
        width: 100%;
    }
    .content-left{
        width: 0%;
    }
    .left-element-admin{
        opacity: 0;
        z-index: -999999;
    }
    .admin-title{
        padding-left: 50px;
    }
    .admin-bars-close{
        display: block;
    }
}
@media only screen and (max-width: 991px){
    html, body{
        font-size: 13px;
    }
    .title-box{
        flex-direction: column;
    }
    .admin-title {
        width: 100%;
        font-size: 26px;
    }
    .admin-title::after {
        left: 88%;
    }
    .admin-bars {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .search-box {
        width: 100%;
        padding: 0 10px;
    }
    .search-box form {
        margin-right: 0;
    }
    .table-admin{
        margin-top: 70px;
    }
    .mail-form {
        width: 90%;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 769px){
    .admin-title::after {
        left: 83%;
    }
    .btn-skill {
        bottom: 20px;
        right: 20px;
        font-size: 24px;
        width: 35px;
        height: 35px;
    }
}