*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-bars-close {
    padding: 10px 0 0 25px;
    display: none;
}

.admin-bars-close i {
    font-size: 25px;
}

.preview-container {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.search-box {
    width: 500px;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}

.search-box form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    overflow: hidden;
    background-color: #e8e8e8;
    border-radius: 40px;
    width: 365px;
    display: flex;
    height: 40px;
}

.header-button {
    background-color: #00b8ff;
    width: 93px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    margin-right: 10px;
}

.header-btn-container {
    display: flex;
    align-items: center;
}

.header-button a {
    color: white;
    font-weight: 600;
}


.search-box .input-search {
    padding: 5px;
    outline: none;
    border: none;
    background-color: inherit;
    width: 100%;
}
.input-search::placeholder{
    color: white;
    font-weight: 600;
}
.search-box .btn {
    border: none;
    background-color: inherit;
    outline: none;
    color: white;
}

.success li {
    list-style: none;
    padding: 5px;
    background-color: #0ad20a;
    color: white;
    border-radius: 10px;
}
.success li i{
    margin-right: 10px;
}
.error li {
    list-style: none;
    padding: 5px;
    background-color: #ff6e6e;
    color: white;
    border-radius: 10px;
}
.error li i{
    margin-right: 10px;
}
html,body{
    height: 100%;
    color: #5c5c6f;
    font-size: 15px;
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    background-color: #f0f2f5;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.content-box{
    background-color: #f0f2f5;
    width: 100%;
    margin: 15px;
    /* box-shadow: 0 3px 8px 0 rgba(15,15,20,.2); */
    display: flex;
    position: relative;
    /* overflow: scroll; */
    /* overflow-x: hidden; */
}
.content-box::after{
    content: '';
    position: fixed;
    width: 100%;
    height: 15px;
    bottom: 0;
    background-color: #f0f2f5;
    z-index: 999999;
    left: 0;
}
.content-box::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 15px;
    top: 0;
    left: 0;
    background-color: #f0f2f5;
    z-index: 999999;
}
.content-box::-webkit-scrollbar,
.left-element::-webkit-scrollbar,
.left-element-admin::-webkit-scrollbar{
    display: none;
}
.content-left{
    width: 23%;
    position: relative;
    overflow: hidden;
}
.left-element{
    position: fixed;
    width: 21.8%;
    height: calc(100vh - 30px);
    z-index: 9999;
    overflow: scroll;
    overflow-x: hidden;
    background: #f7f7f7;
    box-shadow: rgba(15, 15, 20, 0.2) 0px 3px 8px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-right{
    width: 80%;
    padding-right: 80px;
    position: relative;
    height: 100%;
    background-color: #f7f7f7;
}

.content-right .container {
    background-color: #f9f9f9;
}
/* Menu left */
.info-box{
    padding: 30px;
    text-align: center;
    background: linear-gradient(159deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
    position: sticky;
    width: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    height: 245px;
}
.info-avt{
    width: 85px;
    height: 85px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.info-avt img{
    width: 100%;
    height: 100%;
}
.acc-avt{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}
.info-box h4{
    font-size: 15px;
}
.info-box p{
    font-size: 14px;
}
.info-content{
    padding: 25px;
    font-size: 15px;
}
.info-bottom{
    background: white;
    position: sticky;
    bottom: 0px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(159deg,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);
    box-shadow: 0 1px 4px 0 rgba(15,15,20,.1);
}
.info-bottom a{
    font-size: 12px;
    color: #5c5c6f;
    transition: all .2s;
}
.info-bottom a:hover{
    color: #1e1e28;
}
.info-content-element{
    padding: 10px;
    border-bottom: 1px solid #d5d5d7;
}
.info-content-element ul{
    margin-bottom: 0px;
}
.info-content-element ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.info-content-element ul li h6{
    font-size: 15px;
}
.info-content-element ul li span{
    font-size: 14px;
}
.info-skill ul li{
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    font-size: 14px;
}
.info-skill ul li i{
    padding-right: 15px;
}
.info-download a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #5c5c6f;
    transition: .2s;
}
.info-download a:hover{
    color: #1e1e28;
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner_gi{
    border-radius: 15px;
}
/* MENU ADMIN */

.left-element-admin{
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: scroll;
    overflow-x: hidden;
    background: #f7f7f7;
    box-shadow: rgba(15, 15, 20, 0.2) 0px 3px 8px 0px;
}
.left-element-admin.active-menu{
    opacity: 1;
    z-index: 99999;
    position: fixed;
    width: 245px;
}
.content-box-admin {
    background-color: #f0f2f5;
    width: 100%;
    display: flex;
    position: relative;
}
.menu-admin{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.menu-admin ul li{
    text-align: left;
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}
.menu-admin ul li a{
    font-weight: 700;
    color: #888888;
}
.menu-admin ul li:hover{
    background-color: #f4f4f6;
}
.menu-admin ul li a:hover{
    text-decoration: none;
}
.admin-dropdown{
    display: none;
    visibility: 0;
    margin-top: 10px;
}

.menu-admin ul li:hover .admin-dropdown{
    display: block;
    visibility: visible;
}
/* Main content */
.title{
    text-align: left;
    padding-top: 45px;
    padding-left: 30px;
    color: #000000;
    font-weight: 200%;
}
.row{
    padding-left: 30px;
    padding-top: 20px;
    justify-content: space-between;
}
h5{
    padding-top: 10%;
    font-weight: 100%;
    text-align: center;
}
.resume,
.price{
    font-weight: 450%;
    color: #f00f0f ;
    font-size: 35px;
}
.resume em,
.price em {
    font-size: 15px;
    font-weight: 120%;
    color: #000000;
}
.price{
    text-align: center;
    margin: 40px;
}
/* .li{
    line-height: 35px;
} */
.icon{
    color:  #5c5c6f;
    font-size: 120%;
}
.box{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
ul{
    list-style: none;
    text-align: center;
}
.icon-price{
    color: #f00f0f;
    letter-spacing: 7px;
}
.price-no{
    opacity: 0.5;
}
.avt{
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
}
img.logo{
    height: 200px;
    width: 200px;
    opacity: 0.6;
}
img.logo:hover{
    opacity: 1;
}
.contact{
    background-color: #fff;
    height: 100px;
}
/* Menu right */
.content-right.content-right-active{
    animation: ani2 .5s forwards;
}
.content-right.content-right-active2{
    animation: ani2_2 .5s forwards;
}
@keyframes ani2{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-240px);
       
    }
}
@keyframes ani2_2{
    from{
        transform: translateX(-240px);
    }
    to{
        transform: translateX(0px);
       
    }
}
.menu-right{
    position: absolute;
    right: 0;
    height: calc(100vh - 30px);
    width: 80px;
}
.menu-right-box{
    width: inherit;
    height: inherit;
    position: fixed;
    right: 15px;
    box-shadow: 0 3px 8px 0 rgba(15,15,20,.2);
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-right-box.active{
   
    animation: ani1 .5s forwards;
}
.menu-right-box.active2{
   
    animation: ani1_1 .5s forwards;
}
@keyframes ani1{
    from{
        width: 80px;
    }
    to{
        width: 240px;
    }
}
@keyframes ani1_1{
    from{
        width: 240px;
    }
    to{
        width: 80px;
    }
}
.right-box-bars{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: white;
    cursor: pointer;
}
.right-box-title.hidden{
    visibility: hidden;
}
.right-box-bars i{
    font-size: 23px;
}
.right-box-bars.bars-active{
    justify-content: flex-start;
}
.right-box-content{
    padding: 25px;
}
.right-box-content h5{
    text-orientation: mixed;
    writing-mode: vertical-lr;
    font-size: 15px;
}
.right-menu{
    visibility: hidden;
    opacity: 0;
}
.right-menu.menu-active{
    visibility: visible;
    opacity: 1;
}
.right-menu li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
}
.right-menu li i{
    transition: .5s;
}
.right-menu li:hover i{
    transform: rotate(90deg);
}
.right-menu li a{
    color: #5c5c6f;
}

/* LOGIN FORM */
.form{
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    /* box-shadow: 0 3px 8px 0 rgba(15,15,20,.2); */
    padding: 25px;
    border-radius: 10px;
}

.form-login {
    width: 55%;
}
.form-input{
    border: none;
}
.login-input{
    background-color: white !important;
}
form h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
}
.btn-add{
    border-radius: 25px;
    /* background-color: #00b8ff !important; */
    border: none;
    color: #212529;
    position: relative;
    z-index: 9999;
}
.circle-btn{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 33px;
    background-color: #00b8ff !important;
    border-radius: 50%;
    z-index: -1;
    transition: .2s;
}
.btn-add:hover .circle-btn{
    width: 100%;
    border-radius: 25px;
}
/* ADMIN-CONTAINER */
.admin-container{
    /* padding: 0 20px; */
    background-color: #f7f7f7;
    /* border-top-right-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    box-shadow: rgba(15, 15, 20, 0.2) 0px 3px 8px 0px;
    overflow-x: hidden;
    padding-right: 0;
}
.admin-title{
    font-size: 30px;
    text-transform: uppercase;
    /* letter-spacing: 6px; */
    /* text-shadow: 5px 2px 0px rgba(0,0,0,0.1); */
    /* margin-bottom: 20px; */
    padding: 20px;
    background-color: #00b8ff;
    color: white;
    font-weight: 700;
    width: 500px;
    border-bottom-right-radius: 35px;
    height: inherit;
    position: relative;
}
.form-manage{
    background-color: white;
}

.form-import {
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
}
.form-input{
    background: #f4f4f6;
    outline: none;
    border-radius: 10px;
}
.btn-manage{
    border: none;
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
    background: #00b8ff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 25%;
    margin: 0 auto;
    border-radius: 26px;
    font-weight: 500;
    font-size: 19px;
    position: relative;
    transition: .2s;
    z-index: 9999999;
}

.btn-import-prv {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.btn-manage-box{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
    transition: all .2s;
}
.btn-manage:hover .btn-manage-box{transform: scale(1.2);}
.btn-back{
    position: absolute;
    bottom: 15px;
    border: none;
    background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
    background: #00b8ff !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 500;
    font-size: 17px;
    border-radius: 26px;
    left: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-back i{
    font-size: 24px;
    display: block;
    transition: all .2s;
}
.btn-back:hover i{
    font-size: 37px;
}
.input-read{
    border: none;
    border-radius: 10px;
}
.input-read:disabled{
    border: none;
    background-color: white;
}
.btn-skill{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 25px;
    font-weight: 800;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .1s;
}
.btn-skill:hover{
    width: 45px;
    height: 45px;
    text-decoration: none;
}
.form-info{
    margin-top: 0;
    width: 90%;
    margin-bottom: 20px;
    position: relative;
}
.form-group .banner{
    width: 842px;
    height: 321px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
}
.login-info{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}
.login-info h6{
    margin-bottom: 0;
}
.login-info .info-avt{
    margin: 0;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


/* Contact page */
.contact-box ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.contact-box ul li h6{
    font-size: 15px;
}
.contact-box ul li span{
    font-size: 14px;
}
.contact-box{
    background-color: white;
    box-shadow: rgba(121, 113, 113, 0.1) 0px 4px 12px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact-info{
    padding-left: 20px;
    padding-right: 30px;
}
.contact-info h4{
    padding-left: 15px;
    padding-top: 15px;
}
.contact-element{
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
}

.contact-element input,.contact-element textarea {
    border: none;
    background: inherit;
}
.contact-element i{
    /* margin-right: 1%; */
    margin-top: 10px;
}
.contact-form-box{
    background-color: white;
    box-shadow: rgba(121, 113, 113, 0.1) 0px 4px 12px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px;
}
.contact-form-box button{
    background-color: rgb(221, 48, 29);
    width: 80px;
    display: flex;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 10px;
    justify-content: space-around;
    margin-left: 90%;
    margin-top: 10px;
}
.contact-form h4{
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-right: 20px;
}
/* ERROR */
.error-box{
    background-color: #ff6e6e;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
.error-box li{
    list-style: none;
}
.error-box li i{
    margin-right: 10px;
}
.admin-label{
    width: 125px;
}

.mail-form{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}
.mail-form h6{
    background-color: #00b8ff;
    padding: 15px 10px;
    margin-bottom: 0;
}
.mail-form button{
    width: 12%;
    margin: 15px;
    font-size: 17px;
}
.mail-box{
    background-color: white;
    border-bottom: 2px solid #00b8ff;
    padding: 5px;
    margin: 0 10px;
}
.mail-input{
    background-color: white;
    border: none;
    outline: none;
}
.mail-text{
    height: 90px !important;
    padding: 0;
}
.title-box{
    /* width: 500px; */
    position: relative;
    height: 69px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-bars{
    background-color: #00b8ff;
    z-index: 999;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: none;
}

.admin-bars i {
    color: white;
    font-size: 17px;
}
.admin-title::after{
    content: '';
    background-image: url(./Img/vectorpaint.svg);
    height: 100%;
    position: absolute;
    top: 0;
    left: 75%;
    width: 145px;
    /* z-index: -1; */
}
.form-avt{
    width: 450px;
    height: 195px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 65px;
}
.input-avt{
    margin-bottom: 15px;
}

<<<<<<< HEAD
/* intro cv */
.cv-element{
    display: table-cell;
    width: 50%;
}
.cv-pic img{
    width: 50%;
}
.cv-element ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
=======
.btn-status{
    padding: 5px;
    border-radius: 27px;
    color: white;
    transition: .1s;
}
.btn-status:hover{
    text-decoration: none;
    color: white;
}
.pj-img-box{
    display: flex;
    align-items: center;
}
.pj-img{
    width: 365px;
    height: 140px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.pj-img img{
    width: 100%;
    height: 100%;
}
.img-col{
    width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
    border-radius: 10px;
}
.menu-admin-line{
    background-color: #e0e0e0;
    height: 7px;
    border-radius: 95px;
    margin-bottom: 10px;
>>>>>>> bc08804253b275e89be6f1723094410de4afb5bc
}