@charset "UTF-8";
* {
    outline: none;
  }
  
body, html {
    margin: 0;
    background: #eee;
    letter-spacing: 0.65px;
    font-size: 15px;
    cursor: default;
}

ul {
    list-style-type: none;
    padding: 0;
  }

h3 {
    color: #3d405b;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 18px;
    z-index: 9999999;
    font-size: x-large;
    letter-spacing: 2px;
  }
p {
    padding-top: 10px;
    padding-left: 15px;
}
.content{
  width: 90%;
  background: #fbfbfb;
  margin: 20px auto;
  border: 1px solid #bbb;
  box-shadow: 0 0 20px -3px #bbb;
  position: relative;
  display: flex;;
}
.content-left, .content-right {
    box-sizing: border-box;
    float: left;
    padding: 3% 5%;
  }

.content-left div, .content-right div{
    padding-bottom: 10px;
  }

.content-left{
    width: 25%;
    background-color: #bedae5;
}

.content .content-left .profile .photo{
  padding: 10px 5px;
}

.content .content-left .profile .photo img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    
}

.content .content-left .profile .info {
    text-align: center;
    color: #030449;
  }

.content .content-left .profile .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.content .content-left .contact-l,.content .content-left .follow{
  padding-top: 100px;
}

.follow .row a i{
  padding: 0 20px;
}
.content .content-left .contact div {
    line-height: 50px;
  }
.content .content-left .contact div:hover i {
    color: #e07a5f; 
 }

.content .content-left .contact div span {
    position: relative;
    justify-content: flex-end;
  }

/* .content-right */
.content .content-right {
    width: 75%;
}

* .content .content-right .skills-prog {
  clear: both;
}


.content .content-right .interests-items {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    border: 1px solid #cdcdcd;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
.content .content-right .interests-items div {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
.content .content-right .interests-items div:hover i {
    transform: scale(1.2);
  }
.content .content-right .interests-items div:hover span {
    color: #e07a5f;
    transition-duration: 0.3s;
  }
.content .content-right .interests-items div i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #a1cbdb;
    transition-duration: 0.3s;
  }
.content .content-right .interests-items div i.guitar {
    display: block;
    margin: 0 auto;
  }
.content .content-right .interests-items div i.guitar svg {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    fill: #a1cbdb;
  }
.content .content-right .interests-items div span {
    display: block;
  }

  .container {
    width: 100%; /* Full width */
    /* background-color: rgb(255, 255, 255); Grey background */
    height: 25px;
  }
  
  .skills {
    text-align: right; /* Right-align text */
    padding-top: 3px; /* Add top padding */
    padding-bottom: 3px; /* Add bottom padding */
    color: white; /* White text color */
    height: 25px;
  }
  
  .html {width: 80%; background-color: rgb(34, 104, 151);} 
  .css {width: 70%; background-color:rgb(34, 104, 151);} 
  .js {width: 50%; background-color:rgb(34, 104, 151);} 
  .php {width: 80%; background-color:rgb(34, 104, 151);} 

.contact .contact-form .box{
  background-color: rgb(235, 226, 226);
  border-radius: 5%;
  box-shadow: 2px 2px 1.8px #e3e3e4;
}
.contact .contact-form .box .contact-element{
  position: relative;
  position: relative;
  padding: 5% 5% 0% 5%;
}

.contact .contact-form .box .contact-element .contact-icon{
  padding-right: 1%;
  position: relative;
  padding-top: 2%;
}

.contact .contact-form .box button{
  position: relative;
  background-color: #bedae5;
  margin-left: 80%;
  margin-top: 2%;
  border-radius: 10%;
}


.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
     width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: rgb(255,255,255);
    z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
    margin: 1em 4em 0 4em;
}

.btn-back{
  position: absolute;
  bottom: 25px;
  border: none;
  background: -webkit-linear-gradient(to right, #36d1dc, #5b86e5); /* Chrome 10-25, Safari 5.1-6 */
  background: #00b8ff !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: 500;
  font-size: 17px;
  border-radius: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-back i{
  font-size: 35px;
  display: block;
  transition: all .2s;
}
.btn-back:hover i{
  font-size: 40px;
}

